<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>Controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>Controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusServlet</servlet-name>
        <servlet-class>Controller.AddBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>Controller.AddDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBusServlet</servlet-name>
        <servlet-class>Controller.DeleteBusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <servlet-class>Controller.DeleteDriverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRouteServlet</servlet-name>
        <servlet-class>Controller.AddRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRouteServlet</servlet-name>
        <servlet-class>Controller.DeleteRouteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScheduleServlet</servlet-name>
        <servlet-class>Controller.AddScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteScheduleServlet</servlet-name>
        <servlet-class>Controller.DeleteScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusServlet</servlet-name>
        <url-pattern>/AddBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/AddDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBusServlet</servlet-name>
        <url-pattern>/DeleteBusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriverServlet</servlet-name>
        <url-pattern>/DeleteDriverServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRouteServlet</servlet-name>
        <url-pattern>/AddRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRouteServlet</servlet-name>
        <url-pattern>/DeleteRouteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScheduleServlet</servlet-name>
        <url-pattern>/AddScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScheduleServlet</servlet-name>
        <url-pattern>/DeleteScheduleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
